/*容器*/
.container{
    width: 1100px;
    margin: 0 auto;
}
a{
    display: block;
}
.father-bg{
    position: absolute;
    top: 0;
}
.header{
    //border: 1px solid #cccccc;
    .logo{
        float: left;
        margin-top: 24px;
        margin-bottom: 23px;
    }
    .login_register{
        //width: 300px;
        height: 30px;
        //border: 1px solid #cccccc;
        float: right;
        margin-top: 35px;
        line-height: 30px;
        font-size: 14px;
        .learn, .login, .register{
            display: inline-block;
            margin-left: 16px;
        }
        .learn{

        }
        .login{
            width: 80px;
            text-align: center;
            background-color: #649cf0;
            border: solid 1px #649cf0;
            border-radius: 15px;
            color: #ffffff;
        }
        .register{
            width: 80px;
            text-align: center;
            border-radius: 15px;
            border: solid 1px #649cf0;
            color: #649cf0;
        }
    }
}

.index-banner{
    position: relative;
    .discount_coupon{
        //width: 782px;
        height: 500px;
        //border: 1px solid #cccccc;
        position: absolute;
        top: 0;
        margin-left: 57px;
        .title{
            font-size: 60px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 72px;
            margin-top: 80px;
            .italic{
                font-style: italic;
            }
            .sum{
                font-size: 72px;
                color: #fff17d;
            }
            .bold{
                font-weight: bold;
            }
        }
        .coupon-item{
            width: 366px;
            height: 130px;
            //border: 1px solid #cccccc;
            position: relative;
            margin-top: 36px;
            display: inline-block;
            margin-right: 27px;
        }
    }
}